# NODE
TZ="America/Sao_Paulo"

# DATABASE
DATABASE_URL="postgresql://{user}:{password}@{host}:{host}/{database}?schema={schema}"

# MERCADO PAGO
MP_PUBLIC_KEY= # FRONTEND (NAO SE APLICA)
MP_ACCESS_KEY= #BACKEND
MP_IDENPOTENCY_KEY= #BACKEND


# AWS CREDENTIALS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY=

# AWS RESOURCES

# AWS SQS (QUEUES)
PRODUCT_QUEUE_URL=
CATEGORY_QUEUE_URL=
